@media (max-width: 900px) {
    .container {
        width: 93%;
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        background-color: #404f59;
        border-radius: 0 0 10px 10px;
        padding: 16px 0px;
    }

    .header__phone {
        display: none;
    }


    .header__nav-list {
        display: none;
    }

    .burger {
        display: block;
    }

    .hero__content {
        flex: 2 0 50vw;
        margin-right: 40px;
    }

    .hero__image {
        flex: 1 0 50vw;
        padding-left: 30px;
    }
}

@media (max-width:579px) {
    .hero__container {
        flex-wrap: wrap;
    }

    .hero__content {
        flex: 1 0 auto;
        padding: 0;
        text-align: center;
    }

    .hero__image {
        margin-left: -3.5vw;
        margin-right: -3.5vw;
        flex: 1 0 100vw;
    }

    .hero__image::before {
        border-radius: 0;
    }

    .hero__image::after {
        display: none;
    }

    .hero__pic {
        width: 248px;
    }
}